body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  position: fixed;
  padding: 20px;
  color: white;
}

.sidebar h2 {
  color: #60a5fa;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
}

.sidebar a:hover {
  background: #1f2937;
}

/* Main */
.main {
  margin-left: 240px;
  padding: 20px;
}

/* Cards */
.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
}

/* Dashboard cards */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.box h1 {
  margin: 0;
  color: #2563eb;
}

/* Inputs */
input {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Buttons */
button {
  padding: 10px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.delete {
  background: #ef4444;
}

.delete:hover {
  background: #dc2626;
}